/* visibility: hidden;   */
/* display: none;    */
/* my code of think */
/* .rating_screenbb{
  position: absolute;
  width: 400px;
  background: #111;
  padding: 20px 30px;
  border: 1px solid #444;
  border-radius: 5px;

  backdrop-filter: blur(10px);
  z-index: 999999;
  position: fixed;
  
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);


  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  visibility: hidden;
  transition: 0.5s ease;
  transition-property: visibility;
} */


.rating_screenbb{
  z-index: 200;
  position: fixed;
  background: rgba(255, 255, 255, 0.1); 
  backdrop-filter: blur(10px);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  transition: 0.5s ease;
  transition-property: visibility;
}
.rating_screenbb.activebb{
  /* which div or anything which have this two class */
  visibility: visible;
}

.rating_screenboxbb{
  position: relative;
  width: 400px;
  background: #111;
  padding: 20px 30px;
  border: 1px solid #444;
  border-radius: 5px;

  backdrop-filter: blur(10px);
   


  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0 5px 25px rgb(0 0 0 / 20%);

  
} 
.rating_screenboxbb .post{
  display: none;
}

.rating_screenbb .text{
  font-size: 25px;
  color: #666;
  font-weight: 500;
}

.rating_screenbb .star-widget input{
  display: none;
}
.star-widget label{
  font-size: 40px;
  color: #444;
  /* default color of stars */
  padding: 10px;

  /* its actually reversed the star...that's why we saw 1st at 1st.....uncomment it and then  check box you will understand */
  float: right;
  transition: all 0.2s ease;
}

input:not(:checked) ~ label:hover,
/* input:not(:checked) ~ label:hover{ */
                                  /* it just hovering the current  */
  /* try to understand just by uncomenting  */
input:not(:checked) ~ label:hover ~ label{
                                  /* it  hovering all the before start(or next label in html..cool..own explore:  */

  color: #fd4;
}

input:checked ~ label{
  /* yaho css 68.5 */
  color: #fd4;
}
input#rate-5:checked ~ label{
  /* when user give 5 start we are actually brighting the color....cool own explore:*/
  color: #fe7;
  text-shadow: 0 0 20px #952;
  /* https://www.w3schools.com/cssref/css3_pr_text-shadow.asp */
}

#rate-1:checked ~ form header::before{
  /* Yahoo baba CSS Code\72.html */
  /* content: "I just hate it &#128544;"; */
  /* don't give like this...we will give this on html......https://www.w3schools.com/charsets/ref_emoji.asp */
  content: "I just hate it 😠";
}
#rate-2:checked ~ form header:before{
  content: "I don't like it 😒";
  /* emoji is own explore: */
}
#rate-3:checked ~ form header:before{
  content: "It is awesome 😄";
}
#rate-4:checked ~ form header:before{
  content: "I just like it 😎";
}
#rate-5:checked ~ form header:before{
  content: "I just love it 😍";
}
.rating_screenbb form{
  display: none;
  /* by default we are not showing our form */
}


input:checked ~ form{
  display: block;
  /* after checking or giving start we are showing our form */

}

/* when we learn they directly give 'form' but I given "#fdkfrm' because I have two form and this effect also my 'room and user name form' */
#fdkfrm header{
  width: 100%;
  font-size: 25px;
  color: #fe7;
  font-weight: 500;
  margin: 5px 0 20px 0;
  text-align: center;
  transition: all 0.2s ease;
}


#fdkfrm .textarea{
  height: 100px;
  width: 100%;
  overflow: hidden;
}


#fdkfrm .textarea textarea{
  height: 100%;
  width: 100%;
  outline: none;
  color: #eee;
  border: 1px solid #333;
  background: #222;
  padding: 10px;
  font-size: 17px;
  resize: none;
  /* we will not able the text area */
}


.textarea textarea:focus{
  border-color: #444;
}
#fdkfrm .btn{
  height: 45px;
  width: 100%;
  margin: 15px 0;
}
#fdkfrm .btn button{
  height: 100%;
  width: 100%;
  border: 1px solid #444;
  outline: none;
  /* by default it shows outline...that's why we 'tab' it shows white rectangle */
  background: #222;
  color: #999;
  font-size: 17px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  /* by default not allowed */
  /* cursor: not-allowed; */
 
  transition: all 0.3s ease;
}
/* 

#fdkfrm .btn button:hover{
  background: #1b1b1b;
} */


@media screen and (max-width:395px) {
.rating_screenboxbb{
  width: 100vw;
}
.star-widget label{
  font-size: 8vw;
  padding: 5px;

  /* font-size: 180%; */
}
  header{
    float: left;
  }
}